.filter-options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 0px;
    white-space: nowrap;
    font-weight: 500;
}

.filter-options label {
    display: inline-block;
    margin-inline: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
    transform-origin: center;
}

.filter-options label:hover {
    color: lightgrey;
    transform: scale(1.2);
}

.filter-options input[type="radio"] {
    display: none;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.images-set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

img {
    width: 300px;
    height: 169px;
    object-fit: cover;
    padding-right: 5px;
    padding-bottom: 5px;
}

img:hover {
    transform: scale(1.1);
    color: black;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.images img.show {
    display: inline-block;
}

.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.video-player {
    width: 900px; 
}
