nav {
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav .wrapper {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #1CB5E0, #000046);
}

.wrapper .logo a,
.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.3s ease;
}

.wrapper .logo a {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
}

.nav-links li a:hover {
    color: lightgrey;
}

.nav-links .mobile-item {
    display: none;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 70px;
}